<link href="/css/style.css" rel="stylesheet" type="text/css">
<div class="careers-header">
   <div class="container careers w-container">
      <div class="dropshadow-div">
         <div class="small-subhead"></div>
         <h1 class="headline"><strong class="headline">Jihun Choi</strong></h1>
         <div class="header-body-copy"></div>
         <a target="blank_" href="https://drive.google.com/file/d/1qMJhAN_85PRWtk7oVUYaGR2QpvuQ6aJh/view?usp=drive_link" class="text-link blue">Resume →</a>
         <a target="blank_" href="https://www.github.com/cjh1212" class="text-link blue">github →</a>
         <a target="blank_" href="https://www.linkedin.com/in/cjh980803" class="text-link blue">linkedin →</a>
      </div>
   </div>
</div>


<div class="values">

   <div class="container w-container">
      <div class="values-container">
         <!-- <h2 class="body-header">Body Title</h2> -->
         <div class="w-layout-grid use-cases-grid">
         </div>
      </div>
   </div>
</div>
<script src="/js/section.js"></script>
<script src="/js/desc.js"></script>